@import 'normalize.css';

:root {
    --primary-color: #fe2c55;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #161823;

    --font-family: 'TikTokFont', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

input,
button {
    border: none;
    outline: none;
}

//Fonts

@font-face {
    font-family: TikTokFont;
    src: url(/src/assets/fonts/TikTokFont-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url(/src/assets/fonts/TikTokDisplayFont-Semibold.woff2);
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url(/src/assets/fonts/TikTokFont-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url(/src/assets/fonts/TikTokDisplayFont-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url(/src/assets/fonts/TikTokDisplayFont-Semibold.woff2);
    font-weight: 600;
}
