.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 8px;
    text-decoration: none;

    .avatar {
        width: 33px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 12px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    .nickname {
        font-size: 1.6rem;
        line-height: 21px;
        font-weight: 600;
        color: var(--text-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .icon {
            margin-left: 8px;
            font-size: 1.4rem;
            color: #20d5ec;
        }
    }

    .username {
        font-size: 1.4rem;
        line-height: 18px;
        color: rgba(22, 24, 35, 0.5);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
